<!DOCTYPE html>
<html>
<head>
    <title>Basics</title>
</head>
<body>
    <div class="container">
        <header>
            <h5>made with node, express, and handlebars</h5>
        </header>
        {{{body}}}
        <footer>
            <h5>© {{year}} Subhash's Exploration. All rights reserved.</h5>
        </footer>
    </div>
</body>
</html>
