<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <style>
    body {
      color:white;
      text-align: center;
      background-color: black
    }
    h1 {
      color:grey;
    }
    h2 {
      color:grey;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Stock Tracker</h1>
  <form action="/search" method="get">
    <input type="text" name="symbol" placeholder="Enter Stock Symbol" required>
    <button type="submit">Search</button>
  </form>
  <h2>swamiyeee saranamyyapa</h2>
</body>
</html>

