<!DOCTYPE html>
<html>
<head>
  <title>anySTOCKnow</title>
  <style>
    body {
      background-color: #0c0b0b; 
      text-align: center;
      color: #e2ece1; 
    }
    h1 {
      color:grey;
    }
    h2 {
      color:grey; /* Green color for the stock price */
      margin-top: 20px; /* Space above the stock price */
    }
    h3 {
      color:grey; /* Green color for the stock price */
      margin-top: 20px; /* Space above the stock price */      
    }
  </style>
</head>
<body>
  <h1>{{title}}</h1>
  <h2>{{company}} </h2>
  <h3><span>{{stockPrice}}</span></h3>
</body>
</html>

